n8n_workflow.json
{
  "name": "FASTA Processor Local Script",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-fasta",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "process-fasta"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://192.168.1.219:5005/run-script",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"input\": \"{{$json[\"input\"]}}\",\n  \"group\": \"{{$json[\"group\"]}}\",\n  \"window\": \"{{$json[\"window\"]}}\"\n}"
      },
      "id": "http-request",
      "name": "Call Local Python Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "responseNode",
        "responseNodeName": "Call Local Python Server"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Local Python Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Local Python Server": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}