n8n_workflow.json
{
  "name": "FASTA Processor Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-fasta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "process-fasta"
    },
    {
      "parameters": {
        "command": "sh",
        "arguments": [
          "-c",
          "docker run --rm greac:latest julia --project=/app /app/src/GREAC.jl --no-cache --group-name \"{{$json[\"group_name\"]}}\" -w {{$json[\"window_size\"]}} benchmark --train-dir \"{{$json[\"train_dir\"]}}\" --test-dir \"{{$json[\"test_dir\"]}}\" -m manhattan"
        ]
      },
      "id": "execute-processor",
      "name": "Execute FASTA Processor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Execute FASTA Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute FASTA Processor": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}